:root{
    --bg-color: #EDF2FF;
    --text-color: #00082F;
    --primary-color: #4263EB;
    --primary-color-dark: #364FC7;
}

body{
    width: 100vw;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 300px;
    text-align: center;
    margin: 60px auto;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    padding: 3.7px;
    border: var(--primary-color) solid 4px;

}

h1{
    font-size: 32px;
    color: var(--text-color);
    margin-top: 24px;
    margin-bottom: 8px;
}

p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: var(--text-color);
    opacity: 0.8;
    font-size: 18px;
}

ul{
    list-style-type: none;
    margin: 48px 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: var(--bg-color);
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;
    transition: background 400ms;
}

ul li a:hover{
    background: var(--primary-color-dark);
}

footer{
    font-weight: 500;
    font-size: 12px;
    color: var(--text-color);
    opacity: 0.6;
    transition: opacity 200ms;
}

footer a{
    color: var(--text-color);
}

footer:hover{
    opacity: 1;
}

body.darkBlue{
    --bg-color: #00082f;
    --text-color: #FFFFFF;
}
body.pink{
    --bg-color: #FFF0F6;
    --text-color: #1F000B;
    --primary-color: #D6336C;
    --primary-color-dark: #A61E4D;
}